---
version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  go-app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8081:8000"
    depends_on:
      - db
    environment:
      secret_key: hello-world!
      host: db
      port: 5432
      user: postgres
      password: postgres
      dbname: postgres
    
      